<!DOCTYPE html>
<html lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Rekomendacje</title>

</head>

{% load static %}
<body style="background-color:#FAFAD2;">
<nav class="navbar navbar-default navbar-inverse" role="navigation" style="margin-bottom: 0">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="/"><span class=" 	glyphicon glyphicon-home"></span> Strona główna</a>
        </div>

        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/movie/movie_all/1"><span class="glyphicon glyphicon-film"></span> Lista filmów</a></li>
                
            </ul>
            <form class="navbar-form navbar-left" id="search--form" onsubmit="searchSubmit()">
                {% csrf_token %}

                <input type="text" name="title" id="search-input" class="form-control"
                       placeholder="Szukaj filmu"
                       onkeyup="start_timer()" size="55" autocomplete="off" required/>
                <input type="submit" class="btn btn-default" name="search" value="Submit"/>
                <div class="searchlistdiv"
                style="position:absolute;top:42px;left:295px;user-select:none;display:none;width: 380px;"
                aria-expanded="false">
               <div class="search-movie">Film:</div>

                 
                </div>
            </form>

            
        </div>
    </div>
</nav>

<script>
function searchSubmit() {
        var action_src = '/movie/search/movie/' + document.getElementById("search-input").value + '/1';
        document.getElementById('search--form').action = action_src;
    }

    $(".form-control").bind('blur', function () {
        setTimeout(function () {
            $(".searchlistdiv").hide();
        }, 150);
    });
    var last_input_time = Date.now();

    function start_timer() {
        var this_input_time = Date.now();
        last_input_time = this_input_time;
        setTimeout(
            function (this_input_time) {
                if (last_input_time === this_input_time)
                    showResult(document.getElementById('search-input').value);
            }, 150, this_input_time);
    }

    
    
</script>

{% block mainbody %}
    {% load static %}
    <div style=" margin-left: 1%;">
        <p style="color: black"><b>Popularne:</b></p>
        {% for movie in popular %}
            <a href="/movie/movie_detail/{{ movie.movieid }}">
                <img id="poster" class="img-rounded" src="{{ movie.poster }}" width="125" height="180">
            </a>
        {% endfor %}
    </div>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>

    {% load static %}
    <div style=" margin-left: 1%;">
        <p style="color: black"><b>Rekomendowane:</b></p>
        {% for movie in recommendation %}
            <a href="/movie/movie_detail/{{ movie.movieid }}">
                <img id="poster" class="img-rounded" src="{{ movie.poster }}" width="125" height="180">
            </a>
        {% endfor %}
    </div>
{% endblock %}


</body>
</html>